.home
  height 100%
  width 100%
  background-image url('../../common/image/homebackground.jpg')
  background-size cover
  background-repeat no-repeat
  display flex
  flex-direction column
  align-items center
.hometitle
  font-size 5rem
  display inline-block
  width: 10rem
  line-height: 5rem
  margin-top:5rem
  font-family:'myfont'
@font-face
  font-family 'myfont' 
  source url('../../common/font/Realist.ttf');
.Button_home
  margin-top 5rem
.Button_home2
  margin-top 1rem
.getname
 display: flex
 width: 100%
 height :100%
 position fixed
 flex-direction: column
 justify-content: center
 align-items: center
.getnamebox
 width: 60%
 display: flex
 flex-direction: column
 align-items: center
 background-color: #fff
 border-radius: 7px;
 padding-top: 15px;
 position relative;
 p
  font-size: 1rem
  line-height: 1rem
  color: #000
  text-align: center
 input 
  margin-top: 1rem
  margin-bottom: 1rem
  position: relative;
  border: 0;
  width: 60%;
  height: 2rem;
  top: 1px
  border: 1px solid #ddd;
  border-radius: 3px;
 button 
  margin-bottom: 0.5rem
 i
  width 0.75rem
  height 0.75rem
  position absolute
  right 0.25rem
  top 0.25rem
  font-size: 0.75rem
  color: blue