.button
  appearance: button
  color: #fff;
  background-color: #39f;
  border-color: #39f;
  outline: 0;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid #d7dde4;
  white-space: nowrap;
  // line-height: 1.5;
  user-select: none;
  padding: 0.3rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  transform: translateZ(0);
  transition: color .2s linear,background-color .2s linear,border .2s linear;
  text-align: center;
