 .hundredom,.tendom,.positiondom
  height: 120px;
  width: 90px;
  float: left;
  overflow hidden  
  .color
   display: flex;
   height: 120px;
   width: 90px;
   align-items: center;
   justify-content: center;
   background-color: #000;  
  .color
   p
    font-size: 120px;
    color: #fff;
    line-height: 120px;
 .Timer
   height 120px