 .hundredom,.tendom,.positiondom
  height: 120px;
  width: 90px;
  float: left;
  overflow hidden  
  .color
   background-color: #000;  
   p
    font-size: 120px;
    color: #fff;
    line-height: 120px;
    text-align: center;
 .Timer
   height 120px