.props_boxs
 height 100vh
 width 100vw
 position fixed
 top 0;
 display flex
 align-items center
 justify-content center
 background-color: rgba(0, 0, 0, 0.5)
.props
 width 80%;
 background-color: #206a9a
 border-radius: 0.5rem
 position relative
.props_top
 width 100%
 height 8vh
 background-color #13a6f8;
 border-radius: 0.5rem 0.5rem 0 0
 display flex
 align-items center
 justify-content center
 color #ffffff
 font-size 1.2rem
 margin-bottom: 2vh;
.propsboxs
 display flex
 align-items center
 justify-content center
 flex-direction: column;
.propsbox_top
 display flex
 width: 100%;
 height 7vh;
 border-radius 2rem
 align-items center
 justify-content flex-start
 i
  height 5vh
  width 5vh
  border-radius 50%;
  margin-left 2vw
 span 
  color #fff
  width 30vw
  font-size 1.2rem
  margin-left 3vw
 p
  color yellow
  font-weight bolder
  transform scale(1.2)
.propsbox_bot
 margin-top 0.4rem
 font-size 0.5rem
 color #5ac8c0
 text-align: center;
.propsbox
 width 90%;
 height 10vh;
 margin-bottom: 4vh;
.propsorange
 background-color #ef482a ;
.propsblue
 background-color #3b95c9;
.propspink
 background-color #ed669a;
.thumbtack
 background url('../../common/image/Thumbtack.svg');
.frozen
 background url('../../common/image/frozen.svg');
.clue
 background  url('../../common/image/Clue.svg');
.props-enter {
    opacity: 0;
}
  
.props-enter.props-enter-active {
    opacity: 1;
    transition: opacity 200ms ease;
}
  
.props-exit {
    opacity: 1;
}
  
.props-exit.props-exit-active {
    opacity: 0;
    transition: opacity 200ms ease;
}
.props_back
 position absolute 
 margin-left 50%;
 left -18px;
 bottom -15%;