.userbox
 display flex
 padding: 0
 .person
  padding: 0 0.3rem
  display flex
  width 20%
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: 12px
  .personstr
   font-size 1rem
   line-height 1.2rem
   text-align: center
   height 1.5rem
  .personimg
   position relative
   width: 3.3rem;
   height 3.3rem;
   display:flex;
   align-items: center
   justify-content: center
   .personicon
    height: 32px;
    width: 32px;
    display block;
   .personicon1
    background: url('../../common/image/personicon1.svg');
   .personicon2
    background: url('../../common/image/personicon2.svg');
   .personicon3
    background: url('../../common/image/personicon3.svg');
   .personicon4
    background: url('../../common/image/personicon4.svg');
   .personicon5
    background: url('../../common/image/personicon5.svg');
.person_name
  font-size:0.6rem
  text-align: center
  position absolute
  width: 110%
  margin-left -5%
  bottom 0;
  left 0;
  line-height: 1rem
  height: 1rem
  background-color: #666666
  color #fff
  border-radius: 0.5rem
 .noneperson
  padding: 0 0.3rem
  display flex
  width 20%
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: 12px
 .noneperson
  i
   height 32px
   width: 32px
   background  url('../../common/image/noneperson.svg')
 .person
  position relative
  .personname
   position absolute
   bottom: 16px;
  .mypersonstand,.personstand
   position: absolute
   background: url('../../common/image/personmy.svg');
   width: 48px
   height 48px
   top:-3px 
  .mypersonstandbody
   position: absolute
   width: 10px
   height 15px
   top  36px
   background-color: red
  .personstandbody
   position: absolute
   width: 10px
   height 15px
   top  36px
   background-color: blue
  .myperson,.person
   background: url('../../common/image/personmy.svg');
   width: 48px
   height 48px
   position absolute
   top:10px
  .personwords
   font-size: 12px
   margin-top 14px
   margin-left 10px



  