.Gameroom
  height 100%
  width 100%
  position relative
  display flex;
  justify-content: center;
  // align-items: center;
.roomnumber
 display inline-block;
 margin-top 0.5rem
 font-size: 1.3rem;
 height 2rem;
 line-height: 2rem;
.back
 position absolute;
 left 0
 top 0
 width: 2rem
 height 2rem
 background  url('../../common/image/homeback.svg'); 
 margin 0.5rem 0 0 0.2rem;
.timeback
 position absolute
 left 3rem
 top 0.6rem
 display: flex
 i
  position absolute 
  background: url('../../common/image/timebact.svg');
  width: 2rem
  height 1.8rem
  top 2px
  left 5px
 .p1 
  width: 2rem
  height 1.8rem
  background #ffffff
  border-radius: 60%
 .p2
  width: 2rem
  height 1.8rem
  background #ffffff
  margin-left:-1rem
 .p3
  width: 2rem
  height 1.8rem
  background #ffffff
  border-radius: 60%
  margin-left:-1rem
 .timeword
  position absolute
  right 5px
  font-size: 1rem
  line-height: 1rem
  top 0.4rem
.readybutton
  position absolute;
  margin-top: 60%
  height:6.25rem;
  width:6.25rem;
  border-radius:100%;
 .buttondot {
  animation: sploosh 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
 }
    
 .buttondot2 {
   animation: sploosh2 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
    
 .buttondot3 {
    animation: sploosh3 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
    
 .buttondot,.buttondot2,.buttondot3 {
    height: 6.25rem;
    width: 6.25rem;
    font-size: 1.4rem;
    color: #fff;
    line-height: 6.25rem;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    z-index: 10;
    animation-iteration-count: infinite;
    background: transparent;
  }
    
  @keyframes sploosh {
        0% {
            box-shadow: 0 0 0 0px rgba(255, 220, 1, 0.7);
            background: rgba(255, 220, 1, 0.7);
        }
        100% {
            box-shadow: 0 0 0 30px rgba(255, 220, 1, 0);
            background: rgba(255, 220, 1, 0);
        }
    }
    
  @keyframes sploosh2 {
        0% {
            box-shadow: 0 0 0 0px rgba(255, 220, 1, 0.7);
            background: rgba(255, 220, 1, 0.7);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(255, 220, 1, 0);
            background: rgba(255, 220, 1, 0.3);
        }
    }
    
  @keyframes sploosh3 {
        0% {
            box-shadow: 0 0 0 0px rgba(255, 220, 1, 0.7);
            background: rgba(255, 220, 1, 0.7);
        }
        100% {
            box-shadow: 0 0 0 10px rgba(255, 220, 1, 0);
            background: rgba(255, 220, 1, 1);
        }
    }
.text
  position absolute
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  top:3rem
  text-align: center;
.theTimer
  position absolute
  top 30%
  z-index 20