.Messageinput
  position absolute
  height 4em
  width 100%
  bottom 0
  background-color #ffe6d0
  display flex
  flex-direction: row
  align-items: center
  justify-content: space-around;
.Message_i
 width 32px
 height 32px
.plane
  background url('../../common/image/send.svg') no-repeat
  // position absolute
  // right 0.3rem
.key_input
  background url('../../common/image/key_input.svg') no-repeat
  // position absolute
  // left 0.3rem
.voice_input
  background url('../../common/image/voice_input.svg') no-repeat
  // position absolute
  // left 0.3rem
.Message_input_box
  // margin-left: 3.5rem
  position relative
  input 
    width: 12rem;
    height: 1.3rem;
    line-height: 1;
    padding: 0.1rem 0.7rem;
    font-size: 1rem;
    border-radius: 0.45rem;
    border: 0.1rem solid #d7dde4;
    outline:none
    background-color: #fffbd0;
    color:#000
.hold_handle
  position absolute
  font-size: 1rem
  width: 13.5rem
  height 1.6rem
  text-align: center
  // line-height: 1.6rem
.Time_wran
  width: w = 7rem
  height: 5.3rem
  z-index 20
  position fixed
  top: 40%
  left: 50% 
  margin-left: (-0.5) * w
  background-color: #a18b78
  border-radius: 0.3rem
  p 
   font-size: 1.7rem
   color: #fff
   width: 100%
   text-align center
   margin-top:1.3rem
  div 
   width: 100%
   font-size: 0.8rem
   color: #fff
   text-align center
   height 1.5rem
   line-height: 1.5rem
   border-radius: 0 0 0.3rem 0.3rem
  .cancel
   background-color: red;